@model IEnumerable<midterm_project.Models.Pet>

@{
    ViewData["Title"] = "Home";
}

@* Can't get page to load *@

<div class="text-center">
    <h1 class="display-4">Pets for Adoption</h1>
    @foreach (var pet in Model)
    {
        <div class=pet-wrapper>
            <div class="left">
                <h3>@pet.PetName</h3>
                <p> @pet.PetDescription</p>
            </div>
            <div class="right">
               <div class="pix"> <img src="@pet.ImgUrl" /> </div>
                <div class="btns">
                    <a class="btn btn-sm btn-info mb-3" asp-controller="Pet" asp-action="Detail"
                        asp-route-id="@pet.PetId">
                         Edit Pet!
                    </a>
                    <a class="btn btn-sm btn-warning mb-3 ml-3" asp-controller="Pet" asp-action="SinglePet"
                        asp-route-id="@pet.PetId">
                         Pet Details!
                    </a>
                    <a class="btn btn-sm btn-danger mb-3 ml-3" asp-controller="Pet" asp-action="Delete"
                        asp-route-id="@pet.PetId">
                        Delete Pet
                    </a>
                </div>
            </div>
        </div>

    }


    <div>
        <a class="btn btn-primary mt-3 clearfix" asp-controller="Pet" asp-action="Add">Add New Pet!</a>
    </div>
</div>